# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# App captures
*.stcap
!captures/*.stcap
!tests/**/*.stcap
.captures/
~/.sniffer/

# PlatformIO
.firmware/
.pio/
.pioenvs/
.piolibdeps/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
